@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* 폰트 크기 상속 */
    font-size: inherit;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-family: 'Jua', sans-serif;
    line-height: 1.5;
    color: #4d5058;
    /* 글꼴 크기 조정을 방지 */
    -webkit-text-size-adjust: 100%;
    /* 폰트를 부드럽게 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 웹킷 마음대로 눌림 하이라이트 막음 */
    -webkit-tap-highlight-color: transparent;
    background-color: #80e0ff;
}

input {
    border-radius: 10px; }

/*navbar*/
.navbar {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: beige;
    z-index: 100;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

    padding-right: 10rem !important;
    padding-left: 10rem !important;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;

    color: #f0506e;
    padding-right: 30px;
}

.navbarSupportedContent {
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    list-style: none;

    margin-left: auto !important;
    margin-right: 2.5rem;
!important;
}

.nav-item {
    display: inline-block;
    margin-right: 1rem;
}

.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.cloudbtn { /*메뉴 버튼 */
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 62px;

    color: black;
    z-index: 105;
}


#go_up{
    position: fixed;
    bottom: 38px;
    right: 21px;
    z-index: 101;
}

.go_up_btn{
    position: fixed;
    bottom: -5px;
    right: -5px;
    z-index: 100;
    opacity: 80%;
}

#newWriting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 36px;
}

.data {
    width: 100%;
    height: 100%;

    border: none;
    border-bottom-color: #493F40;
}

.bgtitle-w {
    position: absolute;
    width: 100%;

    background-color: white;
    opacity: 0.6;
    z-index: 1;
}

.bgtitle {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

.next{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.create-game-vs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-game-answer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.show-game-vs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 50px;
}


.darkness {
    position: absolute;
    width: 100%;
    height: 900px;
}

.game-result {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 900px;
    cursor: pointer;
    background: #000000;
    opacity: 1;
}

.result-explanation {
    width: 100%;
    height: 900px;
    position: absolute;
    padding: 35px;
    padding-top: 300px;
}

.result-content{
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0px;
    z-index: 5;
}

.chooseAnswer{
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
}
#chooseAnswer1:hover, #chooseAnswer2:hover{
    opacity: 1;
    background-color: black;
    border: none;
}

.result-content-font{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    color: white;
}

.result-explanation-font {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 750px;

    font-size: 50px;
    color: #4d5058;

}

submit:hover{
    background-color: #C7CACC;
    opacity: 10%;
}

.layout-width{
    width: 65%;
    position: relative;
    top: 70px;

}
.layout-center{
    display: flex;
    justify-content: center;
}

.show-game-feedback{
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preference{
    padding-top: 10px;
    height: 100px;
}
.preference-btn{
    position: relative;
    display: flex;
    justify-content: center;
}
.preference-icon{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 10px 20px;
    padding: 8px;
    border: solid;
    border-radius: 10px;
}
.choosepref{
    display: flex;
    position: relative;
}
.like-btn,.dislike-btn{
    margin: 0 21px;
}

.difficulty{
    padding-top: 10px;
    height: 25px;
}
.difficulty-btn{
    display: flex;
    font-size: 20px;
    align-items: center;
}
.difficulty-icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 15px;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    padding: 0 5px;
}
.choosediff{
    display: flex;
    position: relative;
    top: -40px;
    left: 90px;
}
.difficulty-level{
    margin: 0 21px;
}


.post-feedback-buttons{
    display: flex;
    flex-direction: row;
}

.create-comment{
    padding-top: 25px;
}

input::placeholder{
    vertical-align: top;
}

.commentTable{
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*사진 선택 */
#chooseFile, #chooseFile1 {
    visibility: hidden;
    height: 10px;
}

/*page header */
.page-header {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.startimgcontent {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/*section
section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
*/

/*비눗방울*/
#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    z-index: 101;
}

.bubble {
    background-color: #bbdefb;
    border-radius: 50%;

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: 102;
}

.bubble:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
    z-index: 103;
}

.x1 {
    right: 700px;
    bottom: 100px;
    animation: animate_x1 2s linear;
}

@keyframes animate_x1 {
    0% {
        transform: translateY(50%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.x2 {
    right: 1000px;
    bottom: -200px;
    animation: animate_x2 2s linear;
}

@keyframes animate_x2 {
    20% {
        transform: translateY(50%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.x3 {
    width: 1500px;
    height: 1500px;
    right: -100px;
    bottom: -200px;
    animation: animate_x3 2s linear;
}

@keyframes animate_x3 {
    40% {
        transform: translateY(10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 300px;
    z-index: 104;
    position: absolute;
    right: 700px;
    bottom: 600px;
    font-size: 50px;
}

.x4 {
    width: 100px;
    height: 100px;
    right: 150px;
    bottom: 700px;
    animation: animate_x4 2s linear;
}

@keyframes animate_x4 {
    0% {
        transform: translateY(50%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


/*빨래줄*/
svg {
    position: relative;
    top: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.towel-page {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 450px;
    cursor: pointer;
    padding-bottom: 100px;
}

.towel {
    display: flex;
}

h2.balancegameTitle {
    font-size: 30px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 80%);
}

.balancegame {
    width: 450px;
    height: 470px;
    position: absolute;
    padding: 90px;
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rect1 {
    animation: rect-spinning1 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning1 {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.rect2 {
    animation: rect-spinning2 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning2 {
    0% {transform:rotate(30deg);}
    100% {transform:rotate(390deg);}
}

.rect3 {
    animation: rect-spinning3 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning3 {
    0% {transform:rotate(60deg);}
    100% {transform:rotate(420deg);}
}

.rect4 {
    animation: rect-spinning4 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning4 {
    0% {transform:rotate(90deg);}
    100% {transform:rotate(450deg);}
}

.rect5 {
    animation: rect-spinning5 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning5 {
    0% {transform:rotate(120deg);}
    100% {transform:rotate(480deg);}
}

.rect6 {
    animation: rect-spinning6 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning6 {
    0% {transform:rotate(150deg);}
    100% {transform:rotate(510deg);}
}

.rect7 {
    animation: rect-spinning7 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning7 {
    0% {transform:rotate(180deg);}
    100% {transform:rotate(540deg);}
}

.rect8 {
    animation: rect-spinning8 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning8 {
    0% {transform:rotate(210deg);}
    100% {transform:rotate(570deg);}
}

.rect9 {
    animation: rect-spinning9 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning9 {
    0% {transform:rotate(240deg);}
    100% {transform:rotate(600deg);}
}

.rect10 {
    animation: rect-spinning10 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning10 {
    0% {transform:rotate(270deg);}
    100% {transform:rotate(630deg);}
}

.rect11 {
    animation: rect-spinning11 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning11 {
    0% {transform:rotate(300deg);}
    100% {transform:rotate(660deg);}
}

.rect12 {
    animation: rect-spinning12 16s infinite;
    animation-timing-function: linear;
}

@keyframes rect-spinning12 {
    0% {transform:rotate(330deg);}
    100% {transform:rotate(690deg);}
}

