body {
    background: #80e0ff;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);
}


.loginForm {
    height: 720px; /* 900 * 0.8 */
    width: 480px; /* 700 * 0.8 */
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    
}

.content {
    margin: 50px 210px;

}

.loginFormBackground {
    /* display: inline-block; */
    /* div 안에 이미지 크기 맞추는 방법? */
    
    height: 720px; /* 900 * 0.8 */
    width: 500px; /* 700 * 0.8 */
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(4px 8px 4px
        rgba(0, 0, 0, 0.25));
}

.loginForm {
    /* margin: 50px 210px; */
    text-align: center;
    padding-top: 140px;
}

input {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    width: 70%;
    margin: 20px;
    border-bottom-color: #DDE0E2
}

input::placeholder {
    color: #DDE0E2
    
}

input:focus {
    outline: none;
    border-bottom-color: #C7CACC;
}

button#login {
    background-color: #564C4D;
    color: white;
    width: 350px;
    height: 45px;
    margin: 20px;
}

button#login:hover {
    background-color: #493F40;
}

button.togglePage {
    color: #CCD1D2;
}

button#register:hover {
    color: #B7B8B9;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #80e0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}